.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;

  @include tablet-and-more {
    gap: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    color: $color-tertiary;
    font-family: 'Waterfall', cursive;
    font-weight: 700;
    font-size: map-get($font-size, 40px);
  }
}
