.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
  }
}

.tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.th {
  font-size: map-get($font-size, 16px);

  @include tablet-and-more {
    font-size: map-get($font-size, 20px);
  }
}

.td {
  font-size: map-get($font-size, 14px);
  @include tablet-and-more {
    font-size: map-get($font-size, 18px);
  }
}

.th,
.td {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}
