// Mixins
@mixin experienceCardStyles($color) {
  .logo-content,
  .line,
  .logo-content::after {
    background-color: lighten($color, 20%);
  }
  .card__date {
    background-color: $color;
  }
  .card__title {
    color: $color;
  }
}

// Styles
.experiences {
  &__section {
    .line {
      width: 40px;
      height: 2px;

      @media screen and (max-width: 468px) {
        display: none;
      }

      @include desktop-and-more {
        width: 70px;
        height: 3px;
      }
    }

    .card {
      flex-direction: row;
      align-items: unset;
      justify-content: space-evenly;
      height: 150px;

      @include desktop-and-more {
        height: 170px;
      }

      &__details {
        justify-content: center;
        padding: 5px;
        flex: 1;
        text-align: center;

        @media screen and (min-width: 468px) {
          padding: 20px;
        }
      }

      &__date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-size: map-get($font-size, 12px);
        text-align: center;
        padding: 15px;

        @include tablet-and-more {
          font-size: map-get($font-size, 16px);
          padding: 20px;
          min-width: 170px;
        }

        @include desktop-and-more {
          font-size: map-get($font-size, 18px);
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 150px;
      padding: 0;

      @media screen and (min-width: 468px) {
        padding: 0 52px 0 0;
      }

      @include desktop-and-more {
        height: 170px;
      }

      &--red {
        @include experienceCardStyles($color-quaternary);
      }

      &--green {
        @include experienceCardStyles($color-quinary);
      }

      &--reverse {
        flex-direction: row-reverse;
        padding: 0;

        @media screen and (min-width: 468px) {
          padding: 0 0 0 52px;
        }

        .card {
          flex-direction: row-reverse;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
      }

      .logo-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        min-width: 75px;
        min-height: 75px;
        position: relative;

        @media screen and (max-width: 468px) {
          display: none;
        }

        @include desktop-and-more {
          min-width: 100px;
          min-height: 100px;
        }

        img {
          width: 40px;
          height: 40px;

          @include desktop-and-more {
            width: 55px;
            height: 55px;
          }
        }
      }

      &:not(:last-child) .logo-content::after {
        content: '';
        position: absolute;
        height: 60px;
        width: 2px;
        bottom: -60px;
        z-index: -1;

        @include desktop-and-more {
          width: 3px;
          height: 80px;
          bottom: -80px;
        }
      }
    }
  }
}
