.presentation {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 2;

  @include tablet-and-more {
    height: 600px;
  }

  &::before {
    content: '';
    background-image: url(/assets/img/presentation_1200.avif);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;

    @media screen and (min-width: 1200px) {
      background-image: url(/assets/img/presentation.avif);
    }
  }

  &__title {
    font-size: 3rem;
    color: $color-secondary;

    @include tablet-and-more {
      color: $color-primary;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 300;
    color: $color-secondary;

    @include tablet-only {
      white-space: nowrap;
    }

    @include tablet-and-more {
      color: $color-primary;
      text-shadow: unset;
    }

    &--additionnal {
      color: $color-primary;
      font-style: italic;

      @include desktop-and-more {
        min-width: 357px;
        justify-content: center;
      }
    }
  }

  &__card {
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: unset;

    @include tablet-and-more {
      width: 90%;
      height: 75%;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 25px;
      margin: auto;
      padding: 20px;
    }

    @include desktop-and-more {
      position: relative;
      align-items: flex-start;
      max-width: 1200px;
    }
  }

  &-item {
    list-style: none;
  }

  &__img {
    width: 300px;
    height: 308px;
    object-fit: cover;
    margin-bottom: 10px;

    @include tablet-only {
      margin-right: 10px;
    }

    @include desktop-and-more {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }

  .main-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet-only {
      flex-direction: row-reverse;
      justify-content: center;
    }

    @include desktop-and-more {
      width: 100%;
      align-items: end;
      padding-right: 10%;
    }
  }

  .personal-details {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include tablet-and-more {
      min-width: 357px;
    }
  }

  .additionnal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop-and-more {
      width: 100%;
      align-items: flex-end;
      padding-right: 10%;
      text-align: center;
    }
  }

  .social-details__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-primary;
    margin: 10px 0;

    @include desktop-and-more {
      min-width: 357px;
      justify-content: center;
    }

    &__item {
      margin: 0 10px;
      border-radius: 5px;
      font-size: map-get($font-size, 24px);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        color: $color-tertiary;
      }
    }
  }
}
