.rates {
  &__main__header {
    gap: 30px;
  }

  &__section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;

    @include tablet-and-more {
      padding: 50px;
    }
  }
}
