.rates {
  &__main__header {
    gap: 30px;
  }

  &__section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
